:root {
  /* background colors */
  --bg-color-grey: #2f303a;
  --bg-color-white: #ffffff;
  --bg-color-light-grey: #e5e5e5;
  --bg-color-white-solid: #f5f4fa;

  /* text colors */
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --text-color-white: #ffffff;
  --text-color-black-transparent: rgba(255, 255, 255, 0.6);

  /* border colors */
  --border-grey: #eeeeee;
  --border-grey-light: #ececec;
  --border-icon: #afb1b8;

  /* Accent Сolor */
  --accent-color-blue: #2196f3;

  /* Animation */
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

/* list fix */

.list {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

/* link fix */

.link {
  text-decoration: none;
  color: var(--text-color-black);
}

.link:hover,
.link:focus {
  color: var(--accent-color-blue);
  transition: color 250ms var(--animation);
  border: 0px;
  outline: 0px;
}

/* button */

.button {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  background-color: var(--accent-color-blue);
  color: var(--text-color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color-blue);
  color: var(--bg-color-white);
  transition: color 250ms var(--animation);
  border: 0px;
  outline: 0px;
}

.button-shadow:hover,
.button-shadow:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color 250ms var(--animation), box-shadow 250ms var(--animation),
    background-color 250ms var(--animation);
  border: 0px;
  outline: 0px;
}

.logo {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 26px;
  color: var(--accent-color-blue);
}

body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  line-height: 1.2;

  color: var(--text-color-black);
}

/* FIX MARGIN ON h and p */

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 1200px;
  padding: 0 15px;

  margin-right: auto;
  margin-left: auto;
}

.footer-container-position {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* IS HIDDEN */

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

/* HEADER */

.page-header {
  border-bottom: 1px solid var(--border-grey-light);
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__contact {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}
.nav__list {
  margin-right: auto;
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
}

.nav__link--hidden {
  position: relative;
  color: var(--text-color-black);
}

.nav__link--contact {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  color: var(--text-color-grey);
}

.nav__link--ishidden:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color-blue);
  border-radius: 4px;
}

.nav__link--ishidden {
  color: var(--accent-color-blue);
}

.nav__item:not(:first-child) {
  margin-left: 40px;
}

.nav__contact {
  margin: 0px;
  padding-left: 0px;
}

.nav__contact:last-child {
  margin-left: 30px;
}

.nav__list--position:not(:first-child) {
  margin-left: 50px;
}

.nav__logo {
  margin-top: 0px;
  padding-bottom: 24px;
  padding-top: 24px;

  font-family: "Raleway";
  font-weight: 900;
  font-size: 26px;

  color: var(--text-color-black);

  text-decoration: none;
}

.nav__icon--changes {
  text-decoration: none;
  color: var(--text-color-grey);
}

.nav__icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

/* PORTFOLIO ACTIVE */

.active-btn {
  color: var(--accent-color-blue);
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-text-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--bg-color-white);
  transform: translateY(100%);
  transition: transform 250ms var(--animation);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.portfolio-overlay-text {
  padding: 63px 24px;
}

.portfolio-link-shadow:hover .portfolio-text-container {
  transform: translateY(0);
}

.portfolio-link-shadow:focus .portfolio-text-container {
  transform: translateY(0);
}

/* HERO */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-img.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero__title {
  color: var(--bg-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
}

/* FEATURES  */

.features {
  background-color: var(--bg-color-white);
  padding-top: 94px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__label {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--text-color-black);

  font-weight: 700;
  font-size: 14px;

  text-transform: uppercase;
}

.features__list {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding-left: 0px;
}

.features__text {
  color: var(--text-color-grey);

  font-size: 14px;
  line-height: 1.7;
}

.features__icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-white-solid);
}

/* ABOUT OUR WORK */

.about {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--bg-color-white);
}

.about__title {
  margin-bottom: 50px;
  color: var(--text-color-black);

  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.about__list {
  display: flex;
  padding-left: 0px;
  margin: 0px;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;

  color: var(--bg-color-white);

  background: rgba(47, 48, 58, 0.8);
}

/* OUR TEAM */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color-light-grey);
}

.team__list {
  display: flex;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member {
  max-width: 270px;
  padding-bottom: 30px;
  background-color: var(--bg-color-white);

  text-align: center;
}

.team__title {
  color: var(--text-color-black);

  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.team__name {
  padding-top: 30px;
  color: var(--text-color-black);
}

.team__profession {
  padding-top: 10px;
  color: var(--text-color-grey);
  margin-bottom: 16px;
}

.team__network {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-color-white);
  color: var(--border-icon);
}

.team__link:last-child {
  margin-right: 0px;
}

.team__link:hover,
.team__link:focus {
  background-color: var(--accent-color-blue);
  color: var(--bg-color-white);
  transition: color 250ms var(--animation),
    background-color 250ms var(--animation);
  border: 0px;
  outline: 0px;
}

.team__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* CLIENTS */

.clients {
  padding: 94px 0px;
}

.clients__item {
  margin-right: 30px;
}

.clients__item:last-child {
  margin-right: 0px;
}

.clients__title {
  margin-bottom: 50px;
  color: var(--text-color-black);

  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.clients__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.clients__item:last-child {
  margin-right: 0px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border-color: var(--border-icon);
  border: 1px solid;
  color: var(--border-icon);
  border-radius: 4px;
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color-blue);
  color: var(--accent-color-blue);
  transition: border-color 250ms var(--animation), color 250ms var(--animation);
  outline: 0px;
}

.clients__icon {
  fill: currentColor;
}

/* FOOTER */

.footer {
  padding: 60px 0px;
  background-color: var(--bg-color-grey);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-style: normal;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;

  color: var(--text-color-white);

  text-decoration: none;
}

.footer__label {
  margin-bottom: 9px;
  color: var(--text-color-white);

  font-style: normal;
}

.footer__address {
  color: var(--text-color-black-transparent);

  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.7;
}
.footer__contact {
  margin-bottom: 9px;
  color: var(--text-color-grey);

  font-weight: 500;
  font-size: 14px;
  font-style: normal;
}

.footer__contact:last-child {
  margin-bottom: 0px;
}

.footer__network {
  margin-top: 12px;
  margin-left: 70px;
}

.footer__join {
  margin-bottom: 20px;
  color: var(--bg-color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

.footer__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--bg-color-white);
}

.footer__list:last-child {
  margin-right: 0px;
}

.footer__link:hover,
.footer__link:focus {
  background-color: var(--accent-color-blue);
  color: var(--bg-color-white);
  transition: color 250ms var(--animation),
    background-color 250ms var(--animation);
  border: 0px;
  outline: 0px;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* FOOTER FORM */

.form__footer {
  margin-left: 93px;
}

.form__position {
  display: flex;
}

.form__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--bg-color-white);
}

.form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--bg-color-white);
  background-color: var(--bg-color-grey);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.from__iconbtn {
  margin-left: 10px;
}

/*--------- PORTFOLIO ---------- */

/* PORTFOLIO PROJECTS */

.project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 56px;
}
.filter-list-item {
  margin-right: 8px;
}

.filter-btn {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.filter-btn:last-child {
  margin-right: 0px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0px;
  padding: 0px;
}

.portfolio-list-item:nth-child(3n + 1) {
  margin-left: 0px;
}

.portfolio-list-item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-list-box {
  padding: 20px 24px;
  border: 1px solid var(--border-grey);
}

.portfolio-list-box:hover,
.portfolio-list-box:focus {
  color: var(--accent-color-blue);
  transition: color 250ms var(--animation);
  border: 0px;
  outline: 0px;
}

.project-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.project-text {
  color: var(--text-color-grey);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
.portfolio-link-shadow {
  text-decoration: none;
  color: var(--text-color-black);
}

.portfolio-link-shadow:hover,
.portfolio-link-shadow:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--animation);
  border: 0px;
  outline: 0px;
}

/* BACKDROP */
/* MODAL */

.modal__container {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color-white);
  overflow: hidden;
}

.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
}

.modal__button:hover,
.modal__button:focus {
  color: var(--accent-color-blue);
  transition: color 250ms var(--animation);
}

.modal__button--close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.modal__item {
  position: relative;
  display: inline-block;
  margin-top: 28px;
}

.modal__label {
  position: absolute;
  top: -14px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--text-color-grey);
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal__input:focus-within {
  border-color: var(--accent-color-blue);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms var(--animation),
    border-color 250ms var(--animation);
}

.modal__item:focus-within > .modal__icon {
  color: var(--accent-color-blue);
}

.modal__comment:focus-within {
  border-color: var(--accent-color-blue);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms var(--animation),
    border-color 250ms var(--animation);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}
.modal__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
}

.modal__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  color: rgba(117, 117, 117, 0.5);
}

.modal__agree {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color-grey);
}

.modal__checkbox--ishidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__iconcheckbox {
  width: 16px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
}

.modal__checkbox--ishidden:checked + .modal__iconcheckbox {
  border: 1px solid var(--text-color-black);
  background-image: url(../img/icon-img/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
  transition: background-color 250ms var(--animation),
    border 250ms var(--animation);
}

.modal__checkbox--ishidden:focus-within + .modal__iconcheckbox {
  border: 1px solid var(--text-color-black);
  background-size: contain;
  border-color: var(--accent-color-blue);
  background-origin: border-box;
  outline: #000000;
  transition: background-color 250ms var(--animation),
    border 250ms var(--animation);
}

.modal__link {
  color: var(--accent-color-blue);
}

.modal__btn {
  width: 200px;
  height: 50px;
  padding: 0px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color-blue);
  color: var(--bg-color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.modal__btn:focus,
.modal__btn:hover {
  background-color: #188ce8;
  transition: background-color 250ms var(--animation);
}
